# automatically requests pull request reviews for files matching the given pattern; the last match takes precendence. Make sure the software-admin team has write on your repo

*       @{{ cookiecutter.github_username }} @Roman-Supernova-Pit/software-admins